<div class="row navrow">
    <!-- <div><img src="../../public/images/fruitcartlogo.jpg"class="img"></div> -->
      <nav class="navbar navbar-expand-lg nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ">
            <%for(let i=0;i<nav.length;i++){%>
            <li class="nav-item active">
              <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].name%></a> <span class="sr-only">(current)</span></a>
            </li>
           <%}%>
          </ul>
        </div>
      </nav>
    </div>
